<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Quizimize</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>

    <div class="news-board-container">
      <h1 class="news-board-text">
        Practice your <br />knowledge <br />
        for FREE
      </h1>
    </div>
    <div class="welcome">
      <p>Welcome to <span class="logo">Quizmize</span>!</p>
    </div>

    <div class="first-div-container">
      <div class="first-div-container-l">
        <p>
          Are you ready to test your <br />knowledge and challenge
          <br />yourself? Look no further! <br />Our quiz website offers a
          diverse<br />range of topics for you to<br />explore and master.
          Whether <br />you're passionate about <br />science, history,
          literature, <br />or technology, we've got quizzes <br />tailored to
          suit your interests.
        </p>
      </div>
      <div class="first-div-container-r">
        <img src="/FirstDivImage.png" alt="" />
      </div>
    </div>
  </body>
</html>
