@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #f8f8f8;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #04c000;
  animation: fadeIn 1s ease-in-out;
}

.about-section {
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-section.active {
  opacity: 1;
  transform: translateY(0);
  animation: slideIn 1s ease-in-out;
}

.about-section.active ul {
  animation: slideInList 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInList {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.company-name {
  font-weight: bold;
  color: #04c000;
}

a {
  color: #04c000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  flex: 1;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.service i {
  font-size: 48px;
  color: #04c000;
}

.service h3 {
  margin-top: 10px;
  color: #04c000;
}

.service p {
  color: #666;
}

.roadmap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-icon {
  background-color: #04c000;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.step-info {
  text-align: center;
}

.step h3 {
  color: #04c000;
}

.step p {
  color: #666;
}
