@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #f8f8f8;
}
.logo {
  color: #04c000;
}

li,
a,
button {
  text-decoration: none;
  list-style: none;
  color: #000000;
}

/* NavBar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  padding-bottom: 20px;
}
.logo a {
  color: #04c000;
  font-size: 35px;
}
.nav-links {
  display: flex;
}
.nav-links li {
  margin: 0px 30px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links li a {
  color: #464646;
}
.nav-buttons {
  display: flex;
}
.nav-buttons a {
  margin: 0px 12px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  height: 20px;
  width: 60px;
  text-align: center;
  border-radius: 22px;
}
.nav-links li a:hover {
  color: #04c000;
}
.nav-buttons a:hover {
  background-color: #04c000;
  color: #f8f8f8;
}
/* .userData {
  border: none !important;
  width: fit-content;
} */
.userContainer {
  display: flex;
  flex-direction: column;
}
.userData {
  display: flex;
  flex-direction: row;
}
.userLevel {
  /* padding-right: 10px; */
}

.userLevel {
  display: inline-block;
  width: 28px; /* Adjust size as needed */
  height: 28px; /* Adjust size as needed */
  border-radius: 50%; /* Makes it round */
  border: solid #04c000;
  text-align: center;
  line-height: 30px; /* Should match height for centering */
  margin-right: 10px; /* Adjust spacing as needed */
}
.fullNameLink {
  border: none !important;
}
/* Add this to your header.css file */

.xpBar {
  height: 10px; /* Adjust height as needed */
  background-color: #04c000; /* Change color as desired */
  border-radius: 30px;
}

.userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

.userData {
  display: flex;
  align-items: center;
}

.userLevel {
  /* font-weight: bold; */
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.fullName {
  margin: 0;
}

.fullNameLink {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.userXp {
  display: flex;
  align-items: center;
}

.userXpBar {
  flex: 1;
  margin-right: 10px;
}

.xpBar {
  height: 10px;
  /* background-color: #007bff; */
  border-radius: 5px;
}

.userXpText {
  margin: 0;
}
.userXpBox {
  width: 100%;
}
.xpBar {
  height: 8px;
  border-radius: 5px;
  background-color: #04c000; /* Background color for the bar */
  position: relative; /* Position the remaining XP bar relative to the main XP bar */
}

.xpBarRemaining {
  position: absolute;
  top: 0;
  right: 0; /* Align the remaining XP bar to the right */
  height: 100%;
  background-color: #d2d2d2; /* Background color for the remaining XP */
  border-radius: 2px;
}

.nav-buttons .fullNameLink:hover {
  background-color: #f8f8f8;
  color: #04c000;
}
.xpNum {
  padding-bottom: 8px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-top: 3px;
}
